*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: Compacta;
    src: url(./Assets/Fonts/Compacta.ttf) format('truetype');
}

body, html {
    height: 100%;
    background-color:#111111;
    color:white;
    font-family: Noto Sans, sans-serif;
    font-size: 15px;
}

header{
    width: 100%;
    height: 115px;
    background-color: #000000;
}

a#logo{
    margin-right: 15px;
    font-family: 'Compacta', sans-serif;
    font-size: 75px;
    color: #FF3C00;
    float: right;
    transition: 0.5s;
    text-decoration: none;
}

a#logo:hover{
    color:#AA0000;
}

.hub{
    color: white;
    font-size: 20px;
    float: left;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    transition: 0.5s;
}

.hub:hover{
    color: #FF3C00;
}

#container {
    width: 100%;
    margin-top: 40px;
    min-height: 725px;
    max-height: 7250px;
}

#articles{
    width: 75%;
    min-height: 1450px;
    max-height: 7250px;
    float: left;
}

.img {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

img.screenshot{
    margin-left: 50px;
    width: 480px;
    height: 270px;
    float: left;
    transition: 0.5s;
    border-radius: 5px;
}

img.screenshot:hover{
    opacity: 0.5 !important;
}

.desc {
    width: 40%;
    height: 270px;
    float: left;
    margin-left: 50px;
}

.type {
    float: left;
    border: 2px solid #AA0000;
    padding: 6px;
    font-size: 12px;
    border-radius: 10px;
    margin: 6px;
}

.medium {
    float: left;
    border: 2px solid #0000AA;
    padding: 6px;
    font-size: 12px;
    border-radius: 10px;
    margin: 6px;
}

.genre {
    float: left;
    border: 2px solid #AA3300;
    padding: 6px;
    font-size: 12px;
    border-radius: 10px;
    margin: 6px;
}

.platform {
    float: left;
    border: 2px solid #00AA00;
    padding: 6px;
    font-size: 12px;
    border-radius: 10px;
    margin: 6px;
}

.date {
    float: right;
    border: 2px solid #111111;
    padding: 6px;
    font-size: 12px;
    margin: 6px;
}

.series {
    float: left;
    border: 2px solid #565656;
    padding: 7px;
    font-size: 20px;
    margin: 6px;
}

.title {
    float: left;
    border: 2px solid #111111;
    padding: 6px;
    font-size: 25px;
    margin: 6px;
}

.description {
    float: left;
    border: 2px solid #111111;
    padding: 6px;
    margin: 6px;
    text-align: justify;
}

#GameOfTheMonth{
    width: 25%;
    min-height: 1450px;
    max-height: 7250px;
    float: right;
}

.gameOfTheMonth{
    border:5px solid #333333;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    position: relative;
}

.imgOfTheMonth {
    height: 400px;
    width: 300px;
    border: 2px solid #FF1A00;
    border-radius: 10px;
}

ul, li{
    margin-left: 30px;
    margin-top: 0;
}

.links{
    color: #3C3C3C;
    text-decoration: none;
    transition: 0.5s;
}

.links:hover{
    color: #FF5E00;
}

hr{
    border: 1px solid #222222;
}

.pagination_center {
    text-align: center;
    height: 100px;
  }
  
.pagination {
    display: inline-block;
}
  
.pagination a{
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #222222;
    margin: 0 4px;
}

.pagination a:hover{
    background-color: black;
}
  
.pagination a.active{
    background-color: #FF3C00;
    color: black;
    transition: 0.5s;
}

.pagination a.active:hover{
    background-color: #AA0000;
}

.pagination a.inactive{
    color: #222222;
    transition: 0.5s;
    text-align: center;
}

.pagination a.inactive:hover{
    color: black;
}

.pagination a:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#footer {
    text-align: center;
    width: 100%;
    background-color: black;
    padding:5px;
    color: white;
    bottom: auto;
    position: absolute;
}

img.icon{
    background-color:#2B2B2B;
    color: #FF3C00;
    transition: 0.2s;
    height: 20px;
    width: 20px;
}
img.icon:hover{
    background-color: white;
}

.heading{
    text-align: left;
    margin-left: 60px;
    margin-right: 80px;
    font-size: 72px;
    font-family: Compacta;
}

p.gameName{
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
}

p.paragraph{
    text-align: justify;
    font-size: 17px;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.screen{
    height: 720px;
    width: 1280px;
    margin-left: 60px;
    margin-right: 80px;
}

img.centeredScreen{
    height: 360px;
    width: 640px;
    margin-left: 60px;
    margin-right: 80px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

img.xpscover{
    width: 325px;
    height: 400px;
    margin-left: 60px;
    margin-top: 10px;
}

img.swcover{
    width: 251px;
    height: 408px;
    margin-left: 60px;
    margin-top: 10px;
}

.social{
    color: white;
    padding: 10px;
    transition: 0.5s;
    text-decoration: none;
    font-size: 20px;
}

.social:hover{
    color: #FF3C00;
}

.portrait {
    width: 297px;
    height: 292px;
    align-items: center;
    border: 0px;
    margin: 0;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:653;
}
